<%- include("../partials/header.ejs") %>
<div style="width: 30%" class="ui main text container segment">
    <div style="text-align: center;" class="ui huge header">
        Add New Comment To: 
        <h1><%= blog.title %></h1>
    </div>
    
    <form class="ui form" action="/blogs/<%= blog._id %>/comments" method="POST">
        <div class="field1">
            <label>Text</label>
            <input type="text" name="comment[text]" placeholder="text">
        </div>
        <!--<div class="field1">-->
        <!--    <label>Author</label>-->
        <!--    <input type="text" name="comment[author]" placeholder="author">-->
        <!--</div>-->
        <input  type="submit" class="ui purple basic button">
    </form>
</div>



<%- include("../partials/footer.ejs") %>